
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Sono',"Noto Sans TC",Microsoft JhengHei,Lato, sans-serif;


}


img {

  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  vertical-align:top;
}




                                                  